@import url('https://fonts.googleapis.com/css?family=Underdog&display=swap');

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #e6e6e6;
}

/* --- Header --- */
header {
  width: 100%;
}

.breed-selector {
  width: 100%;
  margin: auto;
  max-width: 450px;
}

/* --- Page content --- */

main {
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* --- Image gallery --- */

.breed-gallery {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.breed-gallery img {
  display: block;
  max-width: 100%;
  border: white .5em solid;
  box-shadow: lightgrey 3px 3px 5px;
}

.breed-gallery .btn-toolbar {
  margin-bottom: 1em;
  justify-content: center;
}

.breed-gallery .btn-toolbar button:not(:last-child) {
  margin-right: 5px;
}

/* --- No results message --- */

.no-results {
  opacity: .5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-results .icon {
  width: 10rem;
  height: 10rem;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/dog-house.svg');
}

.no-results .text {
  color: black;
  font-size: 1.25rem;
  margin: 1rem 0 0 0;
  font-family: 'Underdog', cursive;
}
