@import url('https://fonts.googleapis.com/css?family=Underdog&display=swap');

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: lightgoldenrodyellow;
}

main {
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #3086cd;
  font-size: 50px;
  margin-bottom: 2rem;
  font-family: 'Underdog', cursive;
}

.logo span:first-child {
  color: #ffb531;
}

.icon-test {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-image: url('../tmp/shiba.svg');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.breed-selector {
  width: 100%;
  max-width: 450px;
}

section.breed-data {
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.breed-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  /*overflow-x: scroll;*/
}

.breed-gallery img {
  max-width: 100%;
  border: white .5em solid;
  box-shadow: lightgrey 3px 3px 5px;
}
